<div class="home-container">
  <div class="home__header">
    <div class="home__header__left">
      <img mat-card-avatar src="assets/logo/logo.png"/>
    </div>

    <div class="home__header__middle">
      <div (click)="openHome()">
        <mat-icon>home</mat-icon>
      </div>
      <div (click)="openSearchApi()">
        <mat-icon>ondemand_video</mat-icon>
      </div>
      <div (click)="openSavedMoviesPage()">
        <mat-icon>watch_later</mat-icon>
      </div>

    </div>
    <div class="home__header__right" >
      <div (click)="openUserProfile()">
        <img
                alt=""
                mat-card-avatar
                src={{user.picture}}>
        <span class="name">{{ user.name || 'Indranil'}}</span>
      </div>

      <div *ngIf="notifications > 0">
        <mat-icon matBadge= {{notifications}}
                  matBadgeColor="warn"
                  matBadgeOverlap="false" [matMenuTriggerFor]="menu"
                  style="color: white!important;">people
        </mat-icon>
        <mat-menu  #menu="matMenu" class="customize">
          <h1 style="color: white; font-size: 24px; font-weight: bold; letter-spacing: 1px; margin-left: 5px;
          margin-top: 5px">
            Friend requests
          </h1>
          <mat-card *ngFor="let p of myRequests" class="posts" style="
                                   background-color: #212121 !important;">
            <mat-card-header class="posts__header">
              <img alt="{{ p.userSender.name }} {{ p.userSender.surname }}" style="width: 80px!important; height: 80px!important;" mat-card-avatar src={{p.userSender.picture}}>
              <div class="posts__header__right">
                <h3 style="font-size: 20px!important; font-weight: bold!important; color: white"> {{p.userSender.name}}
                  {{p.userSender.surname}} </h3>
                <!--                <span style="color: white">{{ p.friendshipDate| date:'dd.MM.yyyy HH:mm' }}</span>-->
                <span *ngIf="calculateTimeFriendship(p.friendshipDate) == p.friendshipDate" style="color: white">{{
                  p.friendshipDate|
                          date:'dd.MM.yyyy HH:mm' }}</span>
                <span style="color: white" *ngIf="calculateTimeFriendship(p.friendshipDate) != p.friendshipDate">{{calculateTimeFriendship(p.friendshipDate)}}</span>
              </div>
            </mat-card-header>
            <mat-card-content class="posts__body" style="margin-top: 10px!important;">
              <button mat-flat-button  style="border: none!important; outline:none !important;margin-left: 70px!important; background-color: #00bf74; color: white" (click)="acceptRequest(p.userSenderId)"> Accept </button>
              <button mat-flat-button color="warn" style="border: none!important; outline:none !important;
              margin-left:8px!important" (click)="declineRequest(p.userSenderId)"> Decline </button>
            </mat-card-content>

          </mat-card>
        </mat-menu>
      </div>

      <div *ngIf="notifications == 0">
        <mat-icon [matMenuTriggerFor]="menu" style="color: white!important;">people</mat-icon>
        <mat-menu #menu="matMenu" class="customize">
          <h1 style="color: white; font-size: 24px; font-weight: bold; letter-spacing: 1px; margin-left: 5px;
          margin-top: 5px">
            Friend requests
          </h1>
          <mat-card class="posts" style="background-color: #212121 !important;">
            <mat-card-header class="posts__header">
              <div >
                <h1 style="color: white; font-size: 18px">No requests</h1>
              </div>
            </mat-card-header>
          </mat-card>
        </mat-menu>
      </div>

      <div *ngIf="notificationsNum > 0">
        <mat-icon matBadge= {{notificationsNum}}
                  matBadgeColor="warn"
                  matBadgeOverlap="false" [matMenuTriggerFor]="menu"
                  style="color: white!important;">notifications
        </mat-icon>
        <mat-menu  #menu="matMenu" class="customize">
          <h1 style="color: white; font-size: 24px; font-weight: bold; letter-spacing: 1px; margin-left: 5px;
          margin-top: 5px">
            Notifications
          </h1>
          <mat-card *ngFor="let p of myNotifications" class="posts" style="
                                   background-color: #212121 !important;">
            <mat-card-header class="posts__header">
              <img alt="{{ p.userSender.name }} {{ p.userSender.surname }}" style="width: 45px!important; height:
              45px!important;" mat-card-avatar src={{p.userSender.picture}}>
              <div class="posts__header__right">
                <span style="color: white">{{p.text}}</span>

              </div>
            </mat-card-header>
            <mat-card-content class="posts__body" style="margin-top: 10px!important;">
                              <span *ngIf="calculateTime(p.sendingDate) == p.sendingDate"
                                    style="color:  #c8c8c8; font-size: 12px; margin-left: 80px">{{
                                p.sendingDate|
                                        date:'dd.MM.yyyy HH:mm' }}</span>
              <span style="color: #c8c8c8; font-size: 12px; margin-left: 80px" *ngIf="calculateTime(p.sendingDate) !=
               p.sendingDate">{{calculateTime(p.sendingDate)}}</span>

              <div style=" margin-left: 200px" >
                <button mat-fab (click)="deleteNotification(p.id)" style="height: 35px; width:
                35px; border: none; outline: none; background-color: #212121" matTooltip="Delete notification"
                        [matTooltipPosition]='positionOptions[1]'>
                  <mat-icon style="font-size:12px; text-align: center;">delete</mat-icon>
                </button>
              </div>
            </mat-card-content>

          </mat-card>
        </mat-menu>
      </div>

      <div *ngIf="notificationsNum == 0">
        <mat-icon [matMenuTriggerFor]="menu" style="color: white!important;">notifications</mat-icon>
        <mat-menu #menu="matMenu" class="customize">
          <h1 style="color: white; font-size: 24px; font-weight: bold; letter-spacing: 1px; margin-left: 5px;
          margin-top: 5px">
            Notifications
          </h1>
          <mat-card class="posts" style="background-color: #212121 !important;">
            <mat-card-header class="posts__header">
              <div >
                <h1 style="color: white; font-size: 18px">No notifications</h1>
              </div>
            </mat-card-header>
          </mat-card>
        </mat-menu>
      </div>

      <div>
        <mat-icon [matMenuTriggerFor]="menu" style="color: white!important;">expand_more</mat-icon>
        <mat-menu #menu="matMenu" class="customize">
          <button mat-menu-item (click)="logout()" style="border: none!important; outline:none !important; background-color:#212121 !important;">
            <mat-icon style="color: white">exit_to_app</mat-icon> Logout
          </button>
        </mat-menu>
      </div>
    </div>
  </div>

  <ng-scrollbar #scrollable  pointerEventsMethod="scrollbar" [disabled]="disabled" visibility="hover" >
    <div class="home__body">
      <div class="home__body__sidebarLeft">
        <div class="inside">
          <div class="user-avatar" (click)="openUserProfile()" style="margin-left: 10px!important;">
            <img
                    alt=""
                    mat-card-avatar
                    src = {{user.picture}}>
            <span class="name" style="color: white">{{ user.name|| 'Indranil'}} {{ user.surname }}</span>
          </div>

          <div (click)="openWatchedMoviesPage()">
            <mat-icon style="margin-left: 10px!important;">theaters</mat-icon>
            <span style="color: white">Watched movies</span>
          </div>

          <div (click)="openFilmLoFriendsPage()">
            <mat-icon style="margin-left: 10px!important;">people_alt</mat-icon>
            <span style="color: white">FilmLo friends</span>
          </div>

          <div (click)="openFilmLoUsersPage()">
            <mat-icon style="margin-left: 10px!important;">person_search</mat-icon>
            <span style="color: white">Search FilmLo users</span>
          </div>

          <div class="active">
            <mat-icon style="margin-left: 10px!important;">insights</mat-icon>
            <span style="color: white">Statistics</span>
          </div>

        </div>
      </div>

      <div class="home__body__contentMiddle">
        <div class="home__body__contentMiddle__center" style="width: 1000px!important;">
          <h2 class="h2savedmovies">My statistics</h2>

          <div *ngIf="yearData.length != 0">
            <div id="chartContainer" style="height: 370px; width: 80%;"></div>
          </div>
          <div>
            <h2 style="color: white">
              <mat-icon style="color: #FF9A45; font-size:30px"> functions</mat-icon>
              Total number of watched movies: {{statistic.totalCount}}</h2>
          </div>

          <div>
            <h2 style="color: white">
              <mat-icon style="color: #FF9A45"> rate_review</mat-icon>
              Average rate given: {{statistic.averageRate}}</h2>
          </div>

          <div style="width: 100%!important;">
            <h2 style="color: white">
              <mat-icon style="color: #FF9A45"> watch</mat-icon>
              Total time spent on watched movies: {{timeConvert()}}</h2>
          </div>

          <div>
            <h1 style="color: white">Best rated movies</h1>
          </div>

          <div  *ngIf="popularMovies.length == 0">
            <p style="color: white">No watched movies with rate 5.</p>
          </div>

          <table mat-table *ngIf="popularMovies.length != 0" [dataSource]="popularMovies"  style="width: 80%!important; background-color: #1a1a1a;">

            <ng-container matColumnDef="position" >
              <th mat-header-cell *matHeaderCellDef style="width: 20% !important; font-size: 20px!important; color: white!important;"> No. </th>
              <td mat-cell *matCellDef="let element; let i = index" style="color: white!important;"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="movieName">
              <th mat-header-cell *matHeaderCellDef style="font-size: 20px!important; color: white!important; width: 70%!important;"> Name </th>
              <td mat-cell *matCellDef="let element" style="color: white!important;"> {{element.movieName}} </td>
            </ng-container>

            <ng-container matColumnDef="button">
              <th mat-header-cell *matHeaderCellDef style="font-size: 20px!important; color: white!important;"></th>
              <td mat-cell *matCellDef="let element" style="color: white!important;">
                <button mat-flat-button style="background-color: #ff9b1f; color: white; border: none; outline: none"
                        (click)="openMovieDetails(element.movieId)">Details</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>

      <div class="home__body__feedRight">
        <div class="inside">

        </div>
      </div>
    </div>
  </ng-scrollbar>
  <ng-snotify class="{{ style }}"></ng-snotify>
</div>

