<section class="register">
    <div class="header">
        <h3>Update your name, surname or picture</h3>
    </div>
    <div class="body">
        <form #form="ngForm">
            <div class="center">
                <label for="fileUpload" class="file-upload-container">
                    <input type="file" #fileBtn (change)="uploadPic($event)" id="fileUpload" style="display:none;"/>
                    Select an image
                </label>
                <div>
                    <img
                            alt=""
                            mat-card-avatar
                            src={{myPicture}}
                            class="bigavatar"
                            name="picture"
                            id="userPic">
                </div>
            </div>
            <div class="user_name">
                <input type="text" placeholder="Your name" name="name" #name="ngModel" [ngModel]="myName">
            </div>
            <div class="user_name">
                <input type="text" placeholder="Your surname" name="surname" #surname="ngModel" [ngModel]="mySurname">
            </div>
            <div style="margin-top: 5px; margin-bottom: 5px">
            </div>
            <button type="submit" class="submit-button" (click)="updateUser()">Update and save</button>
        </form>
    </div>
</section>
