.register {
  padding: 0;

}
::ng-deep.mat-dialog-container {
  background-color: #0c0c0c !important;
  border-bottom: 1px solid whitesmoke !important;
  border-top: 1px solid whitesmoke !important;
  border-left: 1px solid whitesmoke !important;
  border-right: 1px solid whitesmoke !important;
  overflow: hidden;
}

.file-upload-container {
  width: 30%;
  height: 40px;
  overflow: hidden;
  //background: #f7900a;
  user-select: none;
  //transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  text-align: center;
  color: #f7900a;
  line-height: 50px;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;

}

//.file-upload-container:hover {
//  cursor: pointer;
//  background: #f7900a;
//}


.bigavatar {
  width: 120px;
  height: 120px;
}

.required {
  font-size: 15px !important;
  color: firebrick;
}

.header {
  border-bottom: 1px solid lightgray;
  width:100%;

  h3 {
    font-weight: bold;
    font-size: 32px;
    color:white;
  }
}

.body {
  margin-top: 20px;

  form {

    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
  }

  .user_name {
    display: flex;
    align-items: center;
    gap:10px;
    width:100%;
    margin-top: 20px;
    input {
      flex:1;
      outline:none;
      border:1px solid lightgray;
      border-radius: 8px;
      padding: 10px;
      background-color: #F5F6F7;
    }
  }

  .email_password {
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 10px;

    input {
      flex: 1;
      outline:none;
      border:1px solid lightgray;
      border-radius: 8px;
      padding: 10px;
      background-color: #F5F6F7;
    }
  }

  p {
    font-size: 11px;
    margin-top: 20px;
    color: #777777;
  }

  .submit-button {
    padding: 10px 18px;
    background-color: #f7900a;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width:200px;
    align-self: center;
    outline:none;
    border:none;
    border-radius: 10px;
    color:white;
    font-size: 16px;
    letter-spacing: 1.1px;
    cursor: pointer;
    margin-top: 20px;
  }


}
