.img {
  width: 100%;
  margin-bottom: 18%;
}

::ng-deep.mat-dialog-container {
  background-color: #0c0c0c !important;
  border-bottom: 1px solid whitesmoke !important;
  border-top: 1px solid whitesmoke !important;
  border-left: 1px solid whitesmoke !important;
  border-right: 1px solid whitesmoke !important;
  overflow: hidden;
}

.card-picture {
  width: 23%;
  margin-bottom: 2%;
}
.container {
  min-height: 100%;
  width: 100%;
}
.search-form {
  width: 90%;
}

#div1 {
  margin-top: 20px;
}

#divDelete {
  margin-left: 50px;
  margin-top: 30px;
  font-size: 40px;
  background-color: red;
  color: white;
  cursor: pointer;
}

#divAdd {
  //margin-right: 20px;
  //margin-left: 130px;
  margin-top: 30px;
  font-size: 40px;
  background-color: white;
  color: black;
  cursor: pointer;
}

#pomerenspan {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Tw Cen MT Condensed Extra Bold" !important;
  color: white;
}

.uvecanspan {
  font-size: 20px;
  font-family: "Tw Cen MT Condensed Extra Bold" !important;
  margin-top: 25px;
  color: white;
}

.pbold {
  font-weight: bold;
  color: #f7900a ;
}


.register {
  padding: 0;

}

.data {
  margin-top: 20px;
}
.header {
  border-bottom: 1px solid lightgray;
  width:100%;

  h3 {
    font-weight: bold;
    font-size: 32px;
    color: white;
  }
}

.image-card {
  width: 200px;
  height: 320px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
}

.body {
  margin-top: 20px;

  form {

    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
  }

  .user_name {
    display: flex;
    align-items: center;
    gap:10px;
    width:100%;
    input {
      flex:1;
      outline:none;
      border:1px solid lightgray;
      border-radius: 8px;
      padding: 10px;
      background-color: #F5F6F7;
    }
  }

  .email_password {
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 10px;

    input {
      flex: 1;
      outline:none;
      border:1px solid lightgray;
      border-radius: 8px;
      padding: 10px;
      background-color: #F5F6F7;
    }
  }

  p {
    font-size: 30px;
    margin-top: 20px;
    color: black;
  }

  .submit-button {
    padding: 10px 18px;
    background-color: #f7900a;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width:200px;
    align-self: center;
    outline:none;
    border:none;
    border-radius: 10px;
    color:white;
    font-size: 16px;
    letter-spacing: 1.1px;
    cursor: pointer;
  }




}
