<section class="register">
  <div class="header">
  <h3>{{movieDetails.Title}}</h3>
<!--  <p>{{movieDetails.Year}}, {{movieDetails.Genre}}, {{movieDetails.Runtime}}</p>-->
    <span id="pomerenspan"> {{movieDetails.Year}}, {{movieDetails.Genre}}, {{movieDetails.Runtime}} </span>
  </div>

  <div id="#div1">
    <ion-row>

      <ion-col>
        <img src="{{movieDetails.Poster}}" class="image-card" >
      </ion-col>
      <ion-col>
        <ion-raw>
          <span class="uvecanspan"> <p class="pbold"> iMDB rate: </p> {{movieDetails.imdbRating}}</span>
        </ion-raw>

        <ion-row>
          <span class="uvecanspan"> <p class="pbold"> Actors: </p>{{movieDetails.Actors}}</span>
        </ion-row>

        <ion-row>
          <span class="uvecanspan"> <p class="pbold"> Director: </p> {{movieDetails.Director}}</span>
        </ion-row>

        <ion-row>
          <span class="uvecanspan"> <p class="pbold"> Country: </p>{{movieDetails.Country}}</span>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <span class="uvecanspan"> <p class="pbold"> Plot: </p>{{movieDetails.Plot}}</span>
    </ion-row>

    <ion-row>
      <ion-col>
      </ion-col>

      <ion-col>
      </ion-col>

      <ion-col>

          <div (click)="delete()" >
            <span id="divDelete" class="material-icons">delete</span>
            <!--          <mat-icon>delete</mat-icon>-->
          </div>


      </ion-col>

      <ion-col>
        <div (click)="addToWatchedMovies()">
          <span id="divAdd" class="material-icons">add_circle</span>
        </div>
      </ion-col>

    </ion-row>
  </div>


  <ng-snotify class="{{ style }}"></ng-snotify>
</section>

