.img {
  width: 100%;
  margin-bottom: 18%;
}

.kolonaslika {
  margin-top: 20px !important;
}

.kolonaInfo {
  margin-top: 20px !important;
  margin-left: 50px !important;
}
.imgUser {
  width: 8%;
  border-radius: 50%;
  margin-top: 20px !important;
  margin-left: 20px !important;
}

.h2User {
    margin-left: 110px !important;
   // margin-bottom: 200px !important;
    font-size: 20px !important;
   // font-family: "Arial Black" !important;
}

#headerDiv {
  //.img {
  //  margin-top: 20px !important;
  //  margin-left: 20px !important;
  //}
  //.h2 {
  //  margin-left: 100px !important;
  //  margin-bottom: 50px !important;
  //  font-size: 20px !important;
  //  font-family: "Arial Black" !important;
  //}
}

.task-header {
  background-color: transparent;
  padding: 0 5px;
  height: 20px;
}
.fx-spacer {
  flex: 1 1 auto;
}

.card-picture {
  width: 23%;
  margin-bottom: 2%;
}
.container {
  min-height: 100%;
  width: 100%;
}
.search-form {
  width: 90%;
}

#div1 {
  margin-top: 20px;
}

#divSave {
  margin-left: 50px;
  //margin-top: 30px;
 // margin-left: 300px;
  font-size: 40px;
  color: #e5881f;
  cursor: pointer;
}

#divAdd {
  //margin-right: 20px;
  //margin-left: 10px;
  //margin-top: 30px;
  //margin-right: 10px;
  font-size: 40px;
  color: black;
  cursor: pointer;
}

#pomerenspan {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Tw Cen MT Condensed Extra Bold" !important;
}

.uvecanspan {
  font-size: 20px;
  font-family: "Tw Cen MT Condensed Extra Bold" !important;
  margin-top: 25px;

}

.pbold {
  font-weight: bold;
}


.register {
  padding: 0;

}

.data {
  margin-top: 20px;
}
.headerUser {
 // border-bottom: 1px solid lightgray;
  background-color: #e78c30;
 // width:300%;

  h3 {
    font-weight: bold;
    font-size: 32px;
  }
}

.headerMovie {
  border-bottom: 1px solid lightgray;
  width:100%;

  h3 {
    font-weight: bold;
    font-size: 32px;
  }
}

.image-card {
  width: 200px;
  height: 320px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
}

.body {
  margin-top: 20px;

  form {

    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
  }

  .user_name {
    display: flex;
    align-items: center;
    gap:10px;
    width:100%;
    input {
      flex:1;
      outline:none;
      border:1px solid lightgray;
      border-radius: 8px;
      padding: 10px;
      background-color: #F5F6F7;
    }
  }

  .email_password {
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 10px;

    input {
      flex: 1;
      outline:none;
      border:1px solid lightgray;
      border-radius: 8px;
      padding: 10px;
      background-color: #F5F6F7;
    }
  }

  p {
    font-size: 30px;
    margin-top: 20px;
    color: black;
  }

  .submit-button {
    padding: 10px 18px;
    background-color: #f7900a;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width:200px;
    align-self: center;
    outline:none;
    border:none;
    border-radius: 10px;
    color:white;
    font-size: 16px;
    letter-spacing: 1.1px;
    cursor: pointer;
  }




}
