<section class="register">
    <div class="headerMovie">
        <h3>{{movie.name}} ({{movie.year}})</h3>
        <span id="pomerenspan">{{movie.user.name}} {{movie.user.surname}}, {{dateMovie}}</span>
    </div>
    <div id="#div1">
        <ion-row>
            <ion-col class="kolonaslika">
                <img src="{{movie.poster}}" class="image-card">
            </ion-col>
            <ion-col class="kolonaInfo">
                <ion-row>
                    <span class="uvecanspan"> <p class="pbold"> Genre: </p> {{movie.genre}}</span>
                </ion-row>

                <ion-row>
                    <span class="uvecanspan"> <p class="pbold"> Duration: </p>{{movie.duration}} min</span>
                </ion-row>

                <ion-row>
                    <span class="uvecanspan"> <p class="pbold"> Actors: </p>{{movie.actors}}</span>
                </ion-row>

                <ion-row>
                    <span class="uvecanspan"> <p class="pbold"> Director: </p> {{movie.director}}</span>
                </ion-row>

                <ion-row>
                    <span class="uvecanspan"> <p class="pbold"> Country: </p>{{movie.country}}</span>
                </ion-row>
            </ion-col>
        </ion-row>

        <ion-row>
            <span class="uvecanspan"> <p class="pbold"> Comment: </p>{{movie.comment}}</span>
        </ion-row>

        <ion-row class="kolonaslika">
            <ion-col>
                <span class="uvecanspan"> <p class="pbold"> Watching date: </p>{{movie.dateTimeWatched}}</span>
            </ion-col>
            <ion-col>
                <span class="uvecanspan"> <p class="pbold"> Rate: </p>{{movie.rate}}</span>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
            </ion-col>

            <ion-col>
            </ion-col>
            <ion-col class="kolonaslika">
                <button mat-fab (click)="addToSavedMovies()"
                        style="background-color: #ff9438; color: white; margin-left: 30px!important; border:
      none!important; outline:none !important;" matTooltip="Save movie" [matTooltipPosition]='positionOptions[1]'>
                    <mat-icon>favorite</mat-icon>
                </button>
            </ion-col>

            <ion-col class="kolonaslika">
                <button mat-fab (click)="addToWatchedMovies()" style="background-color: white; color:black; border:
      none!important; outline:none !important;" matTooltip="Add to watched movies" [matTooltipPosition]='positionOptions[1]'>
                    <mat-icon>add_to_queue</mat-icon>
                </button>
            </ion-col>
        </ion-row>
    </div>

    <ng-snotify class="material"></ng-snotify>
</section>
