.register {
  padding: 0;

}

.required {
  font-size: 15px !important;
  color: #ffa62b;
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset !important; /* Change the color to your own background color */
  -webkit-text-fill-color: black !important;
}


::ng-deep.mat-dialog-container {
  background-color: #0c0c0c !important;
  border-bottom: 1px solid whitesmoke !important;
  border-top: 1px solid whitesmoke !important;
  border-left: 1px solid whitesmoke !important;
  border-right: 1px solid whitesmoke !important;
  overflow: hidden;
}

.header {
  border-bottom: 1px solid lightgray;
  width:100%;

  display: flex;

  h3 {
    font-weight: bold;
    font-size: 32px;
    color: white;
    display: flex;
  }


}
.star {
  font-size: 3rem;
  //color: #ffffff;
  color: #fdaa18;
}
.filled {
  //color: #fdaa18;
  color: #ffffff;
}

mat-datepicker-toggle {
  color: white !important;
  border: none!important;
  outline:none !important;
}

.body {
  margin-top: 20px;

  form {

    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
  }

  .user_name {
    display: flex;
    //align-items: center;
    gap:10px;
    width:100%;
    // flex-direction: column;
    input {
      //flex:1;
      outline:none;
      border:1px solid lightgray;
      border-radius: 8px;
      padding: 10px;
      background-color: #F5F6F7;
      // width: 60% !important;
      //margin-top: 1px !important;
    }
  }

  .email_password {
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 10px;

    input {
      flex: 1;
      outline:none;
      border:1px solid lightgray;
      border-radius: 8px;
      padding: 10px;
      background-color: #F5F6F7;
      height: 120px;
    }
  }

  p {
    font-size: 11px;
    margin-top: 20px;
    color: #777777;
  }

  .submit-button {
    padding: 10px 18px;
    background-color: #f7900a;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width:200px;
    align-self: center;
    outline:none;
    border:none;
    border-radius: 10px;
    color:white;
    font-size: 16px;
    letter-spacing: 1.1px;
    cursor: pointer;
    margin-top: 20px;
  }


}
