
@font-face {
  font-family: Sofia;
  src: url("../assets/fonts/sofia.woff2")
}
@font-face {
  font-family: Gabriela;
  src: url("../assets/fonts/gabriela")
}

@font-face {
  font-family: Lobster;
  src: url("../assets/fonts/Lobster.woff2")
}
@font-face {
  font-family: Courgette;
  src: url("../assets/fonts/Courgette.woff2")
}

@font-face {
  font-family: Arsenal-Bold;
  src: url("../assets/fonts/Arsenal-Bold.ttf")
}

@font-face {
  font-family: Arsenal-BoldItalic;
  src: url("../assets/fonts/Arsenal-BoldItalic.ttf")
}

@font-face {
  font-family: Arsenal-Italic;
  src: url("../assets/fonts/Arsenal-Italic.ttf")
}

@font-face {
  font-family: Arsenal-Regular;
  src: url("../assets/fonts/Arsenal-Regular.ttf")
}

