@import "src/styles";

mat-card-avatar {
  size: 50px;
}

.bigavatar {
  width: 120px !important;
  height: 120px !important;
}

.bigh2 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 35px;
}


.home-container {
  display: flex;
  flex-direction: column;
  position: relative;
  //background-color: $body-color;
  background-color: black;
  height: 100vh;
}

.h2savedmovies {
  color: white;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px !important;
  //font-family: "Sofia" !important;
}

ng-scrollbar {
  --scrollbar-size: 8px;
  // --scrollbar-thumb-color: rgba(94, 175, 255, 0.5);
  --scrollbar-thumb-color: #FF9A45;
  --scrollbar-thumb-hover-color: #FF9A45;
  --scrollbar-border-radius: 4px;
  border: 1px solid gray;
}

.shape-poster {
  width: 120px;
  height: 200px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
}


/* HEADER SECTION */
.home__header {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background-color: $header-color;
  background-color: #1c1c1c;
  //background-image: linear-gradient(to bottom right, #ffffcc 0%, #cc3300 100%);
  //background: #262B25;
  //background: -webkit-linear-gradient(top left, #262B25, #FF9D4A);
  //background: -moz-linear-gradient(top left, #262B25, #FF9D4A);
  //background: linear-gradient(to bottom right, #262B25, #FF9D4A);
 // padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
 // border-bottom: 2px solid #FF9A45;  //ovo je ona donja linija

  &__left {
    display: flex;
    margin-left: 10px;
    align-items: center;
    gap: 10px;
    flex: .50;
    height: 100%;

    img {
      height: 80px;
      width: 80px;
      margin-left: 50px;
    }

    div.input {
      position: relative;
      width: fit-content;

      input {
        outline: none;
        border: 1px solid lightgray;
        background-color: #F0F2F5;
        padding: 10px 40px;
        border-radius: 20px;

        &::placeholder {
          padding-left: 20px;
          font-size: 15px;
        }
      }

      .search-icon {
        position: absolute;
        top: 6px;
        font-size: x-large;
        left: 10px;
        color: #828890;
      }

    }
  }

  // Left Ends Here

  &__middle {
    // background-image: linear-gradient(to bottom right, #ffffcc 0%, #cc3300 100%);
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: .5;

    div {
      height: 100%;
      width: 90%;
      display: flex;
      align-items: center;
      padding: 18px 15px;
      justify-content: center;

      mat-icon {
        //color: #65676B;
        color: white;
        font-size: 30px;
      }
    }

    div:hover {
      //  background-color: #F2F2F2;
      // background-color: #FF9A45;
      background-color: #FFD7B5;
      cursor: pointer;
      border-radius: 15px;
    }

    div.active {
      position: relative;

      &::before {
        content: '';
        // border-bottom: 4px solid #1877F2;
        border-bottom: 4px solid #FF9A45;
        position: absolute;
        bottom: -15px;
        height: 2px;
        width: 100%;
      }

      mat-icon {
        //color: #1877F2;
        color: #FF9A45;
      }
    }

  }

  // Middle Ends Here

  &__right {
    flex: 0.5;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
    gap: 10px;

    > * {
      margin-right: 10px;
      cursor: pointer;
    }

    span.name {
      font-size: 16px;
      color: white;
    }

    div {
      display: flex;
      align-items: center;

      span {
        margin-left: 5px;
      }
    }

    div:not(:first-of-type) {
      padding: 10px;
      border-radius: 50%;
      // background-color: #E4E6EB;
      background-color: #FF9A45;
    }

  }
}


/*BODY SECTION */

.home__body {
  margin-top: 100px;
  // background-color: $body-color;
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: flex-start;

  //BODY SIDEBAR

  &__sidebarLeft {
    position: relative;

    .inside {
      position: fixed;
      padding: 15px;

      margin-top: 5px;
      width: 350px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .user-avatar {
        display: flex;
        align-items: center;
        gap: 15px;

        span.name {
          font-size: 16px;
        }
      }

      div {
        display: flex;
        gap: 20px;
        font-size: 16px;
        align-items: center;

        mat-icon {
          //color: #1877F2;
          color: #FF9A45;
          font-size: xx-large;
          width: fit-content;
          height: fit-content;
        }


        mat-icon.see-more {
          color: #828890 !important;
          padding: 5px;
          border-radius: 50%;
          background-color: #E4E6EB;
        }

        &:last-of-type {
          border-bottom: 1px solid lightgray;
          padding-bottom: 20px;
        }

      }
      div:hover {
        //  background-color: #F2F2F2;
        // background-color: #FF9A45;
        background-color: #FFD7B5;
        cursor: pointer;
        border-radius: 15px;
      }
    }
    ///////////////////////// ovo sam dodala
    div.active {
      position: relative;
      // background-color: #FF9A45 !important;
      // border-top: 4px solid #FF9A45;  //ovo je ona donja linija
      border-left: 4px solid #FF9A45;  //ovo je ona donja linija
      border-right: 4px solid #FF9A45;  //ovo je ona donja linija
      &::before {
        content: '';
        // border-bottom: 4px solid #1877F2;

        //border-bottom: 4px solid #FF9A45;  //ovo je ona donja linija

        position: absolute;
        bottom: -15px;
        height: 2px;
        width: 100%;
      }

      mat-icon {
        //color: #1877F2;
        color: #FF9A45;
        // color: white !important;
      }
    }

  }


  // BODY CONTENT

  &__contentMiddle {
    padding: 10px;
    margin-left: 520px;
    flex: 0.4;
    width: 40%;
    display: flex;
    flex-direction: column;

    &__top {
      flex: 0.5;
      display: flex;
      gap: 10px;
      justify-content: space-around;
      align-items: center;

      .image-card {
        width: 120px;
        height: 200px;
        border-radius: 20px;
        position: relative;
        z-index: 0;


        &:hover {
          img.bg {
            transform: scale(1.06);
          }
        }

        span {
          font-size: 15px;
          font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
          line-height: 1.2;
          position: absolute;
          bottom: 10px;
          left: 5px;
          color: white;
          //color: #FF9A45;
          font-weight: 600;
          padding: 5px;
        }

        img.bg {
          max-width: 100%;
          object-fit: cover;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 20px;
          transition: all 0.3s ease;
          cursor: pointer;
        }

        img.avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          // color: white;
          color: black;
          z-index: 99;
          position: absolute;
          top: 10px;
          left: 10px;
        }

      }
    }

    &__center {
      padding: 0 10px;
      min-height: 20px;
      width: 100%;
      align-self: center;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap:20px;

      mat-card.post-message {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        //  color: #FF9A45;


        .post-message-header {
          width:100%;
          display: flex;
          align-items: center;
          //  color: #FF9A45;
          form {
            flex:1;
          }

          form > input.on-your-mind {
            background-color: #F0F2F5;
            display: inline-block;
            outline: none;
            border: none;
            padding: 10px 20px;
            border-radius: 20px;
            width: 100%;
          }
        }




        .card-body {
          align-self: center;
          display: flex;
          justify-content: center;
          padding: 10px 40px;
          width: 90%;
          margin-top: 10px;
          align-items: center;
          // color: #FF9A45;
          div {
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            gap: 15px;
            //  color: #FF9A45;
            mat-icon {
              //font-size: xx-large;
            }

            span {
              //font-size: 18px;
            }
          }
        }
      }

      mat-card.posts {
        //background-color: #FF9A45;
        //outline-color: white;

        .posts__header {

          display:flex;

          img {
            width: 20%;
            height: 20%;
          }

          .posts__header__right {
            display: flex;
            flex-direction: column-reverse;

            h3 {
              font-weight: 600;
              font-size: 15px;
              text-transform: capitalize;
              margin-bottom: 0;
            }
          }

          .movie-name-search {
            display: flex;
            flex-direction: column-reverse;

            h3 {
              font-weight: 400;
              font-size: 30px;
              // text-transform: capitalize;
              margin-bottom: 75px;
              margin-left: 20px;
              text-space: 20px;
            }
          }
        }
        .posts__footer {
          display:flex;
          flex-direction: column-reverse;
        }

        .posts__body {
          margin-top: 10px;
        }
      }
    }


  }

  // BODY FEED
  &__feedRight {
    flex: 0.4;
    position: relative;
    align-self: flex-start;

    .inside {
      display: flex;
      //flex-direction: column;
      width: 100%;
      height: 100%;
      position: fixed;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}
