<div class="login-container">
  <header class="login__header">
    <div class="login__header__left">
      <img alt="logo" src="assets/logo/logo.png">
      <h2>A network for all movie lovers.</h2>
      <h2>How much are you a fan of movies?</h2>
      <h2>Find out!</h2>
    </div>
    <div class="login__header__right">
      <mat-card class="login__header__right__card">
        <mat-card-content class="login__header__right__card__content">
          <form #form="ngForm" (ngSubmit)="onLogIn(form)" class="login-form">
            <input name="email" ngModel placeholder="Email address" required type="text" style="background-color:
            white!important;">
            <input name="password" type="password" ngModel placeholder="Password" required >
            <button [disabled]="form.invalid || form.pending"
                    class="login-button"
                    *ngIf="!form.pending"
                    type="submit">Log In
            </button>
          </form>
          <p class="pOr"> OR </p>
          <button class="create-account" (click)="openRegister()">Create New Account</button>
        </mat-card-content>
      </mat-card>
    </div>
  </header>
  <ng-snotify class="{{ style }}"></ng-snotify>
</div>
