//picture as background:
//.bg-image {
// background-image: url("uneti putanju") ;
//  background-repeat: no-repeat;
//  background-position: center;
//  background-size: contain;
//}

//gradients
.bg{
  --ion-background-color: linear-gradient(to bottom, #519897 0%, #ff00b0 100%);
}

.white {
  --ion-background-color: #fff;
}

@import "src/styles";

.bar.mat-snack-bar-container {
  background: rebeccapurple;
}

.pOr {
  text-align: center;
    font-family: "Roboto" !important;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
  color: white;
}

.login-container {
 // background-image: linear-gradient(to bottom left, #F39C12 , #F5CBA7);
  background-image: linear-gradient(to bottom right, #f5c69b 0%, #ff751b 100%);
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

.login__header {
  height: 70vh;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  &__left {
    width: 700px;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    img {
      height: 200px;
      margin-right: 32px;
     // margin-bottom: 20px;
      margin-top: 20px;
    }

    h2 {
      font-family: "Sofia" !important;
      font-size: 40px;
      font-weight: normal;
      line-height: 40px;
      width: 700px;
      color: black;
    }

  }


  &__right {


    &__card {
      background-color: black;
      height: 330px;
      width: 400px;
      padding: 10px;
      border-radius: 10px;
     // margin-bottom: 30px;
      margin-top: 100px;
      margin-left: 100px;

      &__content {
        padding: 5px;
        display: flex;
        flex-direction: column;

        .login-form {
          display: flex;
          flex-direction: column;
          gap: 10px;

          input {
            padding: 20px;
            outline: none;
            border: 1px solid lightgray;
            border-radius: 5px;

            &::placeholder {
              font-size: 16px;
              font-weight: normal;
            }
          }

          .login-button {
            background-color: #f7900a;
            padding: 15px;
            outline: none;
            border: none;
            border-radius: 7px;
            color: white;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
            cursor: pointer;
          }
        }

        // Form Ends Here

        a {
          text-decoration: none;
          color: $primary-button-color;
          text-align: center;
          border-bottom: 1px solid lightgray;
          margin-bottom: 20px;
          padding-bottom: 20px;
          cursor: pointer;
        }

        .create-account {
          background-color: white;
          display: inline-block;
          align-self: center;
          outline:none;
          border:none;
          border-radius: 7px;
          padding: 15px 30px;
          color: black;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;


        }

      }


    }


    .tagline {
      text-align: center;
      letter-spacing: 0.7px;
    }
  }

  // right header ends
}

// header ends


.login__footer {
  height: 30vh;
  align-self: flex-end;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
  }
}
