
<div class="home-container">
  <div class="home__header">
    <div class="home__header__left">
      <img mat-card-avatar src="assets/logo/logo.png"/>
    </div>

    <div class="home__header__middle">
      <div  (click)="openHome()">
        <mat-icon>home</mat-icon>
      </div>
      <div (click)="openSearchApi()">
        <mat-icon>ondemand_video</mat-icon>
      </div>
      <div (click)="openSavedMoviesPage()">
        <mat-icon>watch_later</mat-icon>
      </div>

    </div>
    <div class="home__header__right" >
      <div (click)="openUserProfile()">
        <img
                alt=""
                mat-card-avatar
                src={{user.picture}}>
        <span class="name">{{ user.name || 'Indranil'}}</span>
      </div>


      <div *ngIf="notifications > 0">
        <mat-icon matBadge= {{notifications}}
                  matBadgeColor="warn"
                  matBadgeOverlap="false" [matMenuTriggerFor]="menu"
                  style="color: white!important;">people
        </mat-icon>
        <mat-menu  #menu="matMenu" class="customize">
          <h1 style="color: white; font-size: 24px; font-weight: bold; letter-spacing: 1px; margin-left: 5px;
          margin-top: 5px">
            Friend requests
          </h1>
          <mat-card *ngFor="let p of myRequests" class="posts" style="
                                   background-color: #212121 !important;">
            <mat-card-header class="posts__header">
              <img alt="{{ p.userSender.name }} {{ p.userSender.surname }}" style="width: 80px!important; height: 80px!important;" mat-card-avatar src={{p.userSender.picture}}>
              <div class="posts__header__right">
                <h3 style="font-size: 20px!important; font-weight: bold!important; color: white"> {{p.userSender.name}}
                  {{p.userSender.surname}} </h3>
                <!--                <span style="color: white">{{ p.friendshipDate| date:'dd.MM.yyyy HH:mm' }}</span>-->
                <span *ngIf="calculateTimeFriendship(p.friendshipDate) == p.friendshipDate" style="color: white">{{
                  p.friendshipDate|
                          date:'dd.MM.yyyy HH:mm' }}</span>
                <span style="color: white">{{calculateTimeFriendship(p.friendshipDate)}}</span>
              </div>
            </mat-card-header>
            <mat-card-content class="posts__body" style="margin-top: 10px!important;">
              <button mat-flat-button  style="border: none!important; outline:none !important;margin-left: 70px!important; background-color: #00bf74; color: white" (click)="acceptRequest(p.userSenderId)"> Accept </button>
              <button mat-flat-button color="warn" style="border: none!important; outline:none !important;
              margin-left:8px!important" (click)="declineRequest(p.userSenderId)"> Decline </button>
            </mat-card-content>

          </mat-card>
        </mat-menu>
      </div>

      <div *ngIf="notifications == 0">
        <mat-icon [matMenuTriggerFor]="menu" style="color: white!important;">people</mat-icon>
        <mat-menu #menu="matMenu" class="customize">
          <h1 style="color: white; font-size: 24px; font-weight: bold; letter-spacing: 1px; margin-left: 5px;
          margin-top: 5px">
            Friend requests
          </h1>
          <mat-card class="posts" style="background-color: #212121 !important;">
            <mat-card-header class="posts__header">
              <div >
                <h1 style="color: white; font-size: 18px">No requests</h1>
              </div>
            </mat-card-header>
          </mat-card>
        </mat-menu>
      </div>

      <div *ngIf="notificationsNum > 0">
        <mat-icon matBadge= {{notificationsNum}}
                  matBadgeColor="warn"
                  matBadgeOverlap="false" [matMenuTriggerFor]="menu"
                  style="color: white!important;">notifications
        </mat-icon>
        <mat-menu  #menu="matMenu" class="customize">
          <h1 style="color: white; font-size: 24px; font-weight: bold; letter-spacing: 1px; margin-left: 5px;
          margin-top: 5px">
            Notifications
          </h1>
          <mat-card *ngFor="let p of myNotifications" class="posts" style="
                                   background-color: #212121 !important;">
            <mat-card-header class="posts__header">
              <img alt="{{ p.userSender.name }} {{ p.userSender.surname }}" style="width: 45px!important; height:
              45px!important;" mat-card-avatar src={{p.userSender.picture}}>
              <div class="posts__header__right">
                <span style="color: white">{{p.text}}</span>

              </div>
            </mat-card-header>
            <mat-card-content class="posts__body" style="margin-top: 10px!important;">
                              <span *ngIf="calculateTime(p.sendingDate) == p.sendingDate"
                                    style="color:  #c8c8c8; font-size: 12px; margin-left: 80px">{{
                                p.sendingDate|
                                        date:'dd.MM.yyyy HH:mm' }}</span>
              <span style="color: #c8c8c8; font-size: 12px; margin-left: 80px">{{calculateTime(p.sendingDate)}}</span>

              <div style=" margin-left: 200px" >
                <button mat-fab (click)="deleteNotification(p.id)" style="height: 35px; width:
                35px; border: none; outline: none; background-color: #212121" matTooltip="Delete notification"
                        [matTooltipPosition]='positionOptions[1]'>
                  <mat-icon style="font-size:12px; text-align: center;">delete</mat-icon>
                </button>
              </div>
            </mat-card-content>

          </mat-card>
        </mat-menu>
      </div>

      <div *ngIf="notificationsNum == 0">
        <mat-icon [matMenuTriggerFor]="menu" style="color: white!important;">notifications</mat-icon>
        <mat-menu #menu="matMenu" class="customize">
          <h1 style="color: white; font-size: 24px; font-weight: bold; letter-spacing: 1px; margin-left: 5px;
          margin-top: 5px">
            Notifications
          </h1>
          <mat-card class="posts" style="background-color: #212121 !important;">
            <mat-card-header class="posts__header">
              <div >
                <h1 style="color: white; font-size: 18px">No notifications</h1>
              </div>
            </mat-card-header>
          </mat-card>
        </mat-menu>
      </div>

      <div>
        <mat-icon [matMenuTriggerFor]="menu" style="color: white!important;">expand_more</mat-icon>
        <mat-menu #menu="matMenu" class="customize">
          <button mat-menu-item (click)="logout()" style="border: none!important; outline:none !important; background-color:#212121 !important;">
            <mat-icon style="color: white">exit_to_app</mat-icon> Logout
          </button>
        </mat-menu>
      </div>
    </div>
  </div>

  <ng-scrollbar #scrollable  pointerEventsMethod="scrollbar" [disabled]="disabled" visibility="hover" >
    <div class="home__body">

      <div class="home__body__sidebarLeft">
        <div class="inside">
          <div class="user-avatar" (click)="openUserProfile()">
            <img
                    alt=""
                    mat-card-avatar
                    src = {{user.picture}}
                    style="margin-left: 10px!important;">
            <span class="name" style="color: white">{{ user.name|| 'Indranil'}} {{ user.surname }}</span>
          </div>

          <div (click)="openWatchedMoviesPage()">
            <mat-icon style="margin-left: 10px!important;">theaters</mat-icon>
            <span style="color: white">Watched movies</span>
          </div>

          <div (click)="openFilmLoFriendsPage()">
            <mat-icon style="margin-left: 10px!important;">people_alt</mat-icon>
            <span style="color: white">FilmLo friends</span>
          </div>

          <div class="active">
            <mat-icon style="margin-left: 10px!important;">person_search</mat-icon>
            <span style="color: white">Search FilmLo users</span>
          </div>

          <div (click)="openStatistics()">
            <mat-icon style="margin-left: 10px!important;">insights</mat-icon>
            <span style="color: white">Statistics</span>
          </div>

        </div>
      </div>

      <!--    search Api div-->
      <div class="home__body__contentMiddle">

        <div class="home__body__contentMiddle__center">
          <h2 class="h2savedmovies">Find FilmLo users</h2>
          <mat-card class="post-message" style="background-color: black !important;">
            <mat-card-header class="post-message-header"
                             style="">
              <img
                      alt=""
                      mat-card-avatar

                      src = "assets/icon/user.png" style="width: 50px!important; height: 50px!important; ">
              <form #form="ngForm" (ngSubmit)="searchFilmloUsers(form)">
                <input class="on-your-mind" name="message" ngModel placeholder="Search FilmLo Users" type="text" [(ngModel)]="userSearchName">
                <button style="display: none;" type="submit"></button>
              </form>

            </mat-card-header>
          </mat-card>

          <!--Loop Through All movies-->
          <mat-card *ngFor="let p of resultusers" class="posts" (click)="operUserDetails(p)" style="
          /*border-bottom: 1px solid whitesmoke !important;*/
          /*                          border-top: 1px solid whitesmoke !important;*/
          /*                           border-left: 1px solid whitesmoke !important;*/
          /*                         border-right: 1px solid whitesmoke !important;*/
                                   background-color: #212121;
width: 600px ">
            <mat-card-header class="posts__header">
              <img alt="{{ p.name }}" mat-card-avatar [src]=p.picture style="width: 120px; height: 120px">
              <div class="movie-name-search">
                <h3> {{p.name}} {{p.surname}}</h3>
              </div>
            </mat-card-header>
          </mat-card>
        </div>
      </div>

      <div class="home__body__feedRight">
        <div class="inside">
          <!--        <img alt="feed" src="assets/feed.jpg">-->
        </div>
      </div>
    </div>
  </ng-scrollbar>
  <ng-snotify class="{{ style }}"></ng-snotify>
</div>

