<section class="register">
  <div class="header">
    <h3>{{movieDetails.Title}}</h3>
    <span id="pomerenspan"> {{movieDetails.Year}}, {{movieDetails.Genre}}, {{movieDetails.Runtime}} </span>
  </div>
  <div id="#div1">
    <ion-row>
      <ion-col>
        <img src="{{movieDetails.Poster}}" class="image-card" >
      </ion-col>
      <ion-col>
        <ion-row>
          <span class="uvecanspan"> <p class="pbold"> IMDb rate: </p> {{movieDetails.imdbRating}}</span>
        </ion-row>

        <ion-row>
          <span class="uvecanspan"> <p class="pbold"> Actors: </p>{{movieDetails.Actors}}</span>
        </ion-row>

        <ion-row>
          <span class="uvecanspan"> <p class="pbold"> Director: </p> {{movieDetails.Director}}</span>
        </ion-row>

        <ion-row>
          <span class="uvecanspan"> <p class="pbold"> Country: </p>{{movieDetails.Country}}</span>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <span class="uvecanspan"> <p class="pbold"> Plot: </p>{{movieDetails.Plot}}</span>
    </ion-row>
    <ion-row>
      <ion-col>
        <button mat-flat-button *ngIf="friendsWatchedThatMovie.length != 0" style="background-color: #6275fa; color: white; margin-top: 40px" (click)="seeFriends()"
                matTooltip="Friends watched that movie" [matTooltipPosition]='positionOptions[1]'>
          <mat-icon>people</mat-icon>
          Friends watched that movie
        </button>
        <button mat-flat-button *ngIf="friendsWatchedThatMovie.length == 0" style="background-color: #6275fa; color: white; margin-top: 40px" [disabled]="true">
          None of the friends watched
        </button>
      </ion-col>

      <ion-col>
      </ion-col>

      <ion-col>
       <button mat-fab id="divDelete" style="background-color: #ff8e04; color: white" (click)="addToSavedMovies()"
               matTooltip="Save movie" [matTooltipPosition]='positionOptions[1]'>
         <mat-icon>bookmark</mat-icon>
       </button>
      </ion-col>

      <ion-col>
        <button mat-fab color="light" id="divAdd" (click)="addToWatchedMovies()" matTooltip="Add to watched movies" [matTooltipPosition]='positionOptions[1]'>
          <mat-icon>add_to_queue</mat-icon>
        </button>
      </ion-col>

    </ion-row>
  </div>
  <ng-snotify class="{{ style }}"></ng-snotify>
</section>

