<section class="register">
  <div class="header">
    <h3>{{movieDetails.Title}}</h3>
    <!--  <p>{{movieDetails.Year}}, {{movieDetails.Genre}}, {{movieDetails.Runtime}}</p>-->
    <span id="pomerenspan"> {{movieDetails.Year}}, {{movieDetails.Genre}}, {{movieDetails.Runtime}} </span>
  </div>

  <div id="#div1">
    <ion-row>

      <ion-col>
        <img src="{{movieDetails.Poster}}" class="image-card" >
      </ion-col>
      <ion-col>
        <ion-row>
          <span class="uvecanspan"> <p class="pbold"> iMDB rate: </p> {{movieDetails.imdbRating}}</span>
        </ion-row>

        <ion-row>
          <span class="uvecanspan"> <p class="pbold"> Actors: </p>{{movieDetails.Actors}}</span>
        </ion-row>

        <ion-row>
          <span class="uvecanspan"> <p class="pbold"> Director: </p> {{movieDetails.Director}}</span>
        </ion-row>

        <ion-row>
          <span class="uvecanspan"> <p class="pbold"> Country: </p>{{movieDetails.Country}}</span>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <span class="uvecanspan"> <p class="pbold"> Plot: </p>{{movieDetails.Plot}}</span>
    </ion-row>

    <ion-row>
      <ion-col>
      </ion-col>

      <ion-col>
      </ion-col>

      <ion-col>
       <ion-button shape="round" id="divDelete" color="filmlo" (click)="addToSavedMovies()">
              Save
       </ion-button>
<!--        <button mat-flat-button id="divDelete" color="filmlo" (click)="addToSavedMovies()" > Save </button>-->

      </ion-col>

      <ion-col>
        <ion-button shape="round" color="light" id="divAdd" (click)="addToWatchedMovies()">
          Watched
        </ion-button>
<!--        <button mat-flat-button id="divAdd"  (click)="addToWatchedMovies()" > Watched </button>-->
      </ion-col>

    </ion-row>
  </div>


  <ng-snotify class="{{ style }}"></ng-snotify>
</section>

