<div>
  <div class="center">
    <h3 class="bigh2">{{user.name}} {{user.surname}}</h3>
    <img
            alt=""
            mat-card-avatar
            src = {{user.picture}}
            class="bigavatar">
<div>
  <button mat-flat-button *ngIf="!myFriend && !sentRequest && !myRequest" (click)="sendFirendRequest()" style="background-color: #ff9a45;
                                                                  margin-top: 10px;
                                                                  margin-bottom: 20px!important;
                                                                  color: white">
    Add as friend</button>
  <button mat-flat-button *ngIf="myFriend" (click)="viewFriendWatchMovies()" style="background-color: #ff9a45;
                                                                  margin-top: 10px;
                                                                  margin-bottom: 20px!important;
                                                                  color: white">
    Watched movies list</button>

  <h1 *ngIf="myRequest" style="color: white; margin-top: 10px; font-size: 15px">{{user.name}} sent you friend request</h1>
  <button mat-flat-button *ngIf="myRequest" (click)="acceptRequest()" style="background-color: #00bf74;
                                                                  margin-top: 10px;
                                                                  margin-bottom: 20px!important;
                                                                  color: white">
    Accept </button>
  <button mat-flat-button *ngIf="myRequest" (click)="declineRequest()" style="background-color: #ff3131;
                                                                  margin-top: 10px;
                                                                  margin-bottom: 20px!important;
                                                                  margin-left: 10px !important;
                                                                  color: white">
    Decline </button>

</div>
    <div>
      <button mat-flat-button [disabled]="true" *ngIf="!myFriend && sentRequest"   style="background-color:#526eff ;
                                                                  margin-top: 10px;
                                                                  margin-bottom: 20px!important;
                                                                  color: white">
        Waiting response</button>
      <button mat-flat-button *ngIf="myFriend" (click)="deleteFriend()" style="background-color: #ff4545;
                                                                  margin-top: 10px !important;
                                                                  margin-bottom: 20px!important;
                                                                  color: white">
        Delete friend</button>
    </div>
  </div>

</div>
<ng-snotify class="material"></ng-snotify>
